* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav_logo {
  height: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
nav .nav_logo img {
  height: 80%;
}
nav .nav_links {
  margin-right: 20px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}
nav .nav_links a {
  text-decoration: none;
  color: black;
}

footer {
  min-height: 25%;
  background-color: maroon;
  color: white;
  font-weight: bold;
  display: flex;
}
footer .footer-address {
  padding: 50px;
  font-size: 25px;
}
footer .footer-copyright {
  padding: 5px;
  font-size: 15px;
  font-style: italic;
}

.home-header {
  max-width: 1580px;
  height: 600px;
  background-image: url(../images/home/ilseyhvw4p_actual.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-header .header_title {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 152px;
}
.home-header .header_title .h1--white {
  color: white;
}
.home-header .header_title .h1--large {
  font-size: 60px;
}
.home-header .header_title .h2--white {
  color: white;
}
.home-header .header_title .h2--italics {
  font-style: italic;
}
.home-header .header_title .h2--large {
  font-size: 30px;
}
.home-header .header_title .h3--white {
  color: white;
}
.home-header .header_btn {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 28px;
}
.home-header .header_btn h3 {
  padding: 10px;
}
.home-header .btn--big {
  width: 121px;
  height: 40px;
}
.home-header .btn--red {
  background-color: maroon;
}

.home_content {
  min-height: 50%;
  background-color: #f7f7f8;
  margin: 0 auto;
}
.home_content .header_row {
  display: flex;
}
.home_content .header_col {
  padding: 15px;
}
.home_content .header_content_img {
  width: 500px;
  height: 300px;
}
.home_content .header_content_title {
  font-size: 40px;
}
.home_content .header_content_type {
  font-size: 15px;
}
.home_content .content_btn {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 65px;
  color: white;
  font-weight: bold;
}
.home_content .content_btn h3 {
  padding: 5px;
}
.home_content .btn--big {
  width: 170px;
  height: 35px;
}
.home_content .btn--red {
  background-color: maroon;
}

.home_stats {
  min-height: 75%;
}
.home_stats .home_row {
  display: flex;
}
.home_stats .home_col {
  padding: 30px;
}
.home_stats .home-stats-title {
  font-weight: bolder;
  font-size: 30px;
}
.home_stats .home-stats-red {
  color: maroon;
}
.home_stats .home-stats-big {
  font-size: 60px;
}
.home_stats .home-stats-italics {
  font-style: italic;
  font-weight: lighter;
}

.content-pg-covers {
  max-width: 1580px;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-pg-covers-about {
  background-image: url(../images/about/about-banner-desktop.jpg);
}

.content-pg-covers-admission {
  background-image: url(../images/admission/admissions-banner-desktop.jpg);
}

.content-pg-covers-academics {
  background-image: url(../images/academics/academics-banner-desktop.jpg);
}

.content-pg-info {
  min-height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}
.content-pg-info .content-pg-name {
  font-size: 15px;
}
.content-pg-info .content-pg-top {
  padding: 30px;
}
.content-pg-info .content-pg-sub {
  padding: 30px;
}
.content-pg-info .content-pg-title {
  font-size: 40px;
}
.content-pg-info .content-pg-txt {
  font-size: 15px;
  word-spacing: 5px;
}

.content-banner-full {
  max-width: 100%;
  height: 350px;
  background-color: maroon;
}
.content-banner-full .content-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
  padding: 100px;
}
.content-banner-full .content-quote-name {
  margin: 0 auto;
  color: white;
  font-size: 30px;
  font-style: italic;
  position: relative;
  left: 700px;
  bottom: 60px;
}

.content-pg-extra {
  min-height: 50%;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}
.content-pg-extra img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
