.content-pg-covers {
    max-width: 1580px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content-pg-covers-about {
    background-image: url(../images/about/about-banner-desktop.jpg);
}
.content-pg-covers-admission {
    background-image: url(../images/admission/admissions-banner-desktop.jpg);
}
.content-pg-covers-academics {
    background-image: url(../images/academics/academics-banner-desktop.jpg);
}